# Dependencias de Node.js
node_modules/

# Archivos de entorno y variables secretas (¡Muy importante!)
.env
.env.local
.env.production

# Archivos de registros y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
.idea/